In [3]:
import pandas as pd

In [4]:
genre_temp_df = pd.read_csv('genre_temp.csv')
genre_temp_df.head()

                  Genre  Movie
0                 Drama   3586
1          Crime, Drama   3587
2  Action, Crime, Drama   3588
3          Crime, Drama   3589
4          Crime, Drama   3590

In [10]:
dict_g = {"Genre": [], "MovieID": []}

genre_df = pd.DataFrame(dict_g)

for index, row in genre_temp_df.iterrows():
    list_of_genres = row['Genre'].split(',')
    for genre in list_of_genres:
        genre_df.loc[len(genre_df.index)] = [genre, row['Movie']]

In [11]:
genre_df.head()

    Genre  MovieID
0   Drama     3586
1   Crime     3587
2   Drama     3587
3  Action     3588
4   Crime     3588

In [12]:
genre_df.to_csv('genre_clean.csv', index=False)